#ifndef {{ classname }}_HPP
# define {{ classname }}_HPP

class {{ classname }} {
	private:

	public:
		{{ classname }}();
		virtual ~{{ classname }}();
        {{ classname }}(const {{ classname }} &src);
        {{ classname }} &operator=(const {{ classname }} &src);
};

#endif
